spring:
  application:
    name: practice
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: "jdbc:mariadb://192.100.100.7:3306/test"
    username: root
    password: qwer1234

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org:
      springframework:
        security:
          web:
            FilterChainProxy: debug
        web:
          servlet:
            DispatcherServlet: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
